@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Vollkorn:400,700,900");
/*!
 * *
 *  * *
 *  *  * Copyright (c) 2016. Webkleur BVBA.
 *  *  * Created by Vincent Provo (info@webkleur.com)
 *  *  *
 *  *
 *
 *
 */
/* Fonts */
.vkRegular {
  font-family: 'Vollkorn', serif;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.vkBold {
  font-family: 'Vollkorn', serif;
  font-weight: 700 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.vkBlack {
  font-family: 'Vollkorn', serif;
  font-weight: 900 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.ubLight, body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.ubRegular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.ubMedium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

.ubBolt {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700 !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: #7d8995;
  font-size: 14px; }

body {
  background: #1b6d85; }
